@model Asp.NetMvcIntermediario.Models.Aluno

@{
    ViewBag.Title = "Detalhes do aluno";
}

<h2>Detalhes do aluno @Model.NomeAluno</h2>

<fieldset>
    <legend>Aluno</legend>
    Email: @Html.DisplayFor(model => model.Email)
    <br/>
    Ano:     @Html.DisplayFor(model => model.Ano)
    <br />
    Aprovado:     @Html.DisplayFor(model => model.Aprovado)
    <br />
    Inscrição: @String.Format("{0:D}", Model.Inscricao)
</fieldset>
<p>
    @Html.ActionLink("Retornar", "Index")
</p>