@model Asp.NetMvcIntermediario.Models.Aluno

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Aluno</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Professor.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Professor.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeAluno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeAluno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ano)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ano)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aprovado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aprovado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inscricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inscricao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDAluno }) |
    @Html.ActionLink("Back to List", "Index")
</p>
